h1 {
    text-align: center;
    font-size: 22px;
  }
  
  h2 {
    text-align: center;
  }
  
  .btm {
    font-style: italic;
  }
  
  th {
    background-color: rgb(77, 75, 75);
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  table,
  th,
  td {
    border: 1px solid black;
  }
  
  tr:last-child {
    text-align: right;
  }
  
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }
  
  tr:nth-child(even) {
    background-color: rgb(77, 75, 75);
    color: rgb(255, 255, 255);
  }
  
  tr:nth-child(odd) {
    background-color: white;
  }
  
  th {
    padding: 10px;
  }
  
  td {
    padding: 20px;
  }
  
  @media (min-width: 998px) {
    .col-lg-4 {
      width: 40%;
    }
  
    .col-lg-6 {
      width: 60%;
    }
  
    th {
      font-size: 110%;
    }
  
    td {
      font-size: 100%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      width: 50%;
    }
  
    .col-md-12 {
      width: 100%;
    }
  
    th {
      font-size: 100%;
    }
  
    td {
      font-size: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .col-sm-12 {
      width: 100%;
    }
  
    th {
      font-size: 100%;
    }
  }