.block1{
    background-color: bisque;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    
}

.block2{
    background-color: burlywood;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    ;
}

.block3{
    background-color: indianred;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    
}

.block4{
    background-color: darkkhaki;
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    
}

h4{
    background-color: greenyellow;
    color:black;
    font-size: 1.2em;
    width: 150px;
    font-family: Roboto Slab;
}

header{
    font-family: Roboto;
}

.text{
    font-family: Bitter;
}

@media (min-width: 1200px) {

    .col-lg-3 {
        width: 25%;
    }

}

@media (min-width: 992px) and (max-width: 1199){

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991){

    .col-md-sm-6 {
        width: 50%;
    }
}

@media (max-width: 767){
    .col-sm-12{
        width: 100%;
    }
}