.Lorem_Block {
    display: flex;
    background-color: slategray;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    font-family: Lato, sans-serif;
  }
  .Shoppinglist {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: sienna;
    font-family: Lato, sans-serif;
  }
  .Table {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: slategray;
    font-family: Lato, sans-serif;
  }
  .Picture {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column-reverse;
    background-color: sienna;
    font-family: Lato, sans-serif;
  }
  .Lorem_Block h3{
    border: 2px solid whitesmoke;
    width: 55px;
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
    font-size: 120%;
  }
  
  
  .Shoppinglist h3{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width: 80px ;
    padding: 10px;
    margin-bottom: 0px;
    color: whitesmoke;
    font-size: 120%;
  }
  .Table h3{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width:95px ;
    padding: 10px;
    margin-bottom: 0px;
    color: whitesmoke;
    font-size: 120%;
  }
  .Picture h3{
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width:140px ;
    padding: 10px;
    margin-bottom: 0px;
    color: whitesmoke;
    font-size: 120%;
  }
  .Table{
  
    font-family: Roboto, sans-serif;
  }
  #id_1{
    font-size: 140%;
    font-family: Kenia, sans-serif;
  }
  #id_2{
    font-size: 140%;
    font-family: Kenia, sans-serif;
  }
  #id_3{
    font-size: 140%;
    font-family: Kenia, sans-serif;
  }
  #id_4{
    font-size: 140%;
    font-family: Kenia, sans-serif;
  }